
.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #00680C !important;
}

.collapse {
    display: flex;
    justify-content: end;
}

.link-nav, 
.numeroCarrito {
    color: white !important;
}

.link-nav:hover {
    background-color: #198754;
}

.carWidget {
    width: 40px;
}